*{
    margin: 0 0;
    padding: 0 0;
    font-family: Tahoma;
}

body{
    background-color: #612249;
}

ul{
    list-style: none;
}

header{
    background-color: whitesmoke;
    display: flex;
    width: 100%;
    height: 8rem;
    margin: auto;
    align-items: center;
    justify-content: space-around;
}

header h1{
    color: #910800; 
}

header img{
    height: 8rem;
}

.main-group{
    display: flex;
    width: 100%;
    height: 12rem;
    align-items: center;
    justify-content: space-evenly;
}

.group {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    width: 10rem;
    height: 95%;
    border: 2px solid black;
}

.border-groups-AD{
    border-radius: 40px 0px;
}

.border-groups-EH{
    border-radius: 0px 40px;
}

.group h3{
    padding: 5px 5px;
    text-align: center;
    color: #910800;
    border-bottom: 2px solid black;   
}

.group ul{
    font-weight: bolder;
    font-size: 14px;
}

.group li{
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-left: 15px;
}

.group img {
    width: 2rem;
    height: 1.5rem;
    padding-right: 4px;
}

.final-keying{
    display: flex;
    width: 100%;
    height: 21rem;  
    justify-content: space-around; 
    align-items: center; 
}

.phases{
    text-align: center;
}
.phases h3{
    color: white;
}

.octaves{
    width: 5rem;
    height: 4rem;
    border: 1px solid white;
    border-radius: 20px 20px;
    margin: 5px;
}

.octaves li{
    margin: 8px;
    color: white;
    font-weight: lighter;
}

.quarter-finals{
    width: 5rem;
    height: 4rem;
    border: 1px solid white;
    border-radius: 20px 20px;
    margin: 5px;
    margin-bottom: 40px;
}

.quarter-finals li{
    margin: 8px;
    color: white;
    font-weight: lighter;
}

.semifinal{
    width: 6rem;
    height: 5rem;
    border: 1px solid white;
    border-radius: 20px 20px;
    margin: 5px;
}
.semifinal li{
    margin: 12px;
    color: white;
    font-weight: lighter;
}

.final{
    width: 8rem;
    height: 6rem;
    border: 1px solid white;
    border-radius: 20px 20px;
    margin: 10px;
    padding-top: 25px;
}

.final li{
    margin: 10px;
    color: white;
    font-weight: lighter;
}